.SideBar {
  width: 100px; /* Adjust the width as needed */
  height: 100%;
  background-color: lightblue; /* Just for visualization */
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin-top: 50px;
}
.left > div {
  margin: 10px 0 0;
}
.right > div {
  margin: 0 0 20px;
}
.upsidebarclass {
  background-color: rgb(59, 26, 84);
  height: 40px;
}
h2 {
  color: white;
}
